<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
保留下来的过程文件
-->
<html>
    <head>
        <title>过程文件</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #nav {

    line-height: 50px;
    background-color:#3399ff;
    height:80px;
    width: 600px;
    float:right;
    padding:5px;
}
#out{
    border-radius: 30px;
    line-hight: 30px;
    background-color: #00ff00;
    height:80px;
    width:200px;
    float: right;
    padding:5px;
}
#look{
    border-radius: 50px;
     line-hight: 30px;
    background-color: #00ff00;
    height:80px;
    width:1800px;
    padding:5px;
}
 #footer {
     boarder-style: solid;
     boarder-color: green;
     background-color:#f0f0f0;
     clear:both;
    text-align:center;
    float: bottom;
   padding:5px;
}
#frame1_1{
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: yellow;
    width: 1100px;
    height: 1000px;
    padding: 10px;
    float: left
}
#frame1_2{
      border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: greenyellow;
    width: 800px;
    height: 300px;
    padding:10px;
    float: left;
}
#frame2_1{
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: yellow;
    width: 1100px;
    height: 1000px;
    padding: 10px;
    float: right;
}
#frame2_2{
      border-style: solid;
    border-color: black;
    border-radius: 30px;
    background-color: greenyellow;
    width: 800px;
    height: 300px;
    padding:10px;
    float: right;
}


        </style>
    </head>
    <body>
        <h1 style="font-size: 80px; color:blue; text-align:left"> 您好， XXX助理</h1>
        <div id="nav">
           <a href="{{url_for('assistant.login')}}"><h1>个人主页   创建账号</h1></a>
           </div>

        <div id="out"><a href="assistant.create_account"><h1 style="color:#f0f0f0 ;font-size: 40px">查看反馈</h1></a></div>

        <div id="look" ><h1 style="text-align: center; color: #f0f0f0; font-size: 40px">锦华中医诊所  </h1></div>
        <hr>
        <div id="frame1_1"><p style="color: #99FF99; font-size: 60px; text-align: center">病人反馈 </p>
        <div id="frame1_2"><p style="font-size: 50px; text-align: left"> XXXXXXXX  </p>
            <p style="font-size: 60px; text-align: bottom">刘XX<br>
                20XX年X月X日
         </div>
            <br><br>
         <div id="frame1_2"><p style="font-size: 50px; text-align: left"> XXXXXXXX  </p>
            <p style="font-size: 60px; text-align: bottom">王XX<br>
                20XX年X月X日
         </div>
           <p style="font-size: 100px;">.................</p>
        </div>


               <div id="frame2_1"><p style="color: #99FF99; font-size: 60px; text-align: center">医师反馈 </p>
        <div id="frame2_2"><p style="font-size: 50px; text-align: right"> XXXXXXXX  </p>
            <p style="font-size: 60px; text-align: bottom">张XX医师<br>
                20XX年X月X日
         </div>
            <br><br>
         <div id="frame2_2"><p style="font-size: 50px; text-align: right"> XXXXXXXX  </p>
            <p style="font-size: 60px; text-align: bottom">李XX医师<br>
                20XX年X月X日
         </div>
             <p style="font-size: 100px; text-align: right">.................</p>
        </div>



        <div id="footer"><h1 style="color: #99FF99">Traditional Chinese Madicine</h1>    <h1 style="color:gray">联系邮箱：XXX.lzu.edu.cn
            联系电话： XXXXXXXXXXXXX</h1></div>
    </body>
</html>
