<html>
<meta charset="UTF-8">
<!--
保留下来的过程文件（李树昊的工作成果）
-->
<head>
    <link rel="stylesheet" href="base.css" />
    <title>过程文件{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
</head>
<body>
    <div>{% block body%}{% endblock %}</div>
    <div>
        {% block footer %}
        <p>李树昊的网页</p>
        <ol style="font-size:25px;font-family: Noto Sans SC;">
            {% for article in articles %}
             {% if article[4] in ill %}
             <li>
                 <div style="width:30%;float:left;font-size:25px;font-family: Noto Sans SC;"> 针对{{ article[4] }}的养生方式 </div>
                 <div style="width:65%;float:left;font-size:25px;font-family: Noto Sans SC;"> <a href="#">{{ article[1] }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article[5]}}</a> </div>
             </li>
             {% endif %}
            {% endfor %}
        </ol>
        {% endblock %}
    </div>
</body>
</html>



