<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<!--
李树昊的工作成果：表单验证，id为right部分的实现
-->
<html>
    <head>
        <title>助理主页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='check.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好{{user_name}}助理</div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a href="#">个人主页</a></li>
                    <li><a href="/create_account2">创建账号</a></li>
                    <li><a href="/feedback">查看反馈</a></li>
                </ul>
            </div>
            <div id="toip">
                锦华中医诊所
            </div>
            <div id="left">
                <form id="article" action="{{url_for('assistant.login')}}" method="POST">
                    <div id="article_title" class="kind">
                        &emsp;&emsp;<span>主题 : <input type="text" id="topic" name="topic" value="{{title}}" placeholder="请选择文章" ></span>&emsp;&emsp;&emsp;&emsp;&emsp;
                        <span>类别 : <input type="text" id="category" name="category" value="{{category}}" placeholder="请选择文章" ></span>
                        <br>
                        <span style="float:left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;发布人 : <input type="text" id="people" name="people" value="{{people}}" placeholder="请选择文章" ></span>
                        <span style="float:left">&emsp;&emsp;&emsp; 日期 : <input type="text" id="date" name="date" value="{{date}}" placeholder="请选择文章" ></span>
                    </div>

                <div id="article_content"><textarea name="content" placeholder="请输入标题" style="width: 99.5%;height: 99%;resize: none;border: blue">''</textarea></div>
                <div id="patient_tag" class="kind" style="padding-top:17px"><span>推送对象类别：<input type="text" id="disease" name="disease" value='' placeholder="请选择文章"></span></div>
                <input type="submit" id="topics" value="推送" style="width: 32.5%;background-color:rgb(25, 207, 89);height: 50px;color: white;font-size: 30px;float: left;border: none;">
                <input type="button" id="back" value="返回" style="width: 32.5%;background-color:rgb(237, 83, 83);height: 50px;color: white;font-size: 30px;float: left;border: none;"> 
                <input type="button" id="change" value="修改" style="width: 30.5%;background-color:rgb(255, 204, 85);height: 50px;color: white;font-size: 30px;float: left;border: none;">
                </form>
            </div>
            <div id="right">
                <h1 style="color:rgb(18, 211, 20)">待推送的文章</h1>
                    <iframe src="/saved_article" style="border:1px inset lightseagreen;width:99%;height:490px" ></iframe>
            </div>
            <div id="contactinformation" style="color:white">
                <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
        </div>
    </body>
</html>
