<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>医生主页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='push.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好 {{user_name}} 医生</div>
            <div id="navlink">
                <ul>
                    <li><a href="/doctor">个人主页</a></li>
                    <li><a href="/create_account1">创建账号</a></li>
                    <li  style="background-color:rgb(18, 211, 20);"><a href="/create_article">推文上传</a></li>
                </ul>
            </div>
            <div id="toip">
                锦华中医诊所
            </div>
            <div id="left">
                <form id="article" action="/create_article/{{the_id}}" method="POST" name="check">
                    <div id="article_title" class="kind">
                        &emsp;&emsp;&emsp;&emsp;<span>主 题 ：<input type="text" id="topic" name="topic" value= "{{title}}" ></span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <span>类别 : <input type="text" id="category" name="category" value= "{{tag}}" ></span>
                        <br>
                        &emsp;<span>发布人 ：{{ people }}&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                        <span>日期 : {{ date }}</span>
                    </div>

                <div id="article_content"><textarea name="content" placeholder='' style="width: 99.5%;height: 99%;resize: none;border: blue">{{content}}</textarea></div>
                <div id="patient_tag" class="kind" style="padding-top:17px"><span>推送对象类别：<input type="text" id="disease" name="disease" value="针对{{tag}}类患者"></span></div>

                    <input type="submit" id="topics" value="推送" style="width: 32.5%;background-color:rgb(25, 207, 89);height: 50px;color: white;font-size: 30px;float: left;border: none;">
                    <a href=" /article_del/{{ the_id }} " onclick= "del();return false" style="width: 32.5%;background-color:rgb(237, 83, 83);height: 50px;color: white;font-size: 30px;float: left;border: none;">删除</a>
                    <input type="submit" id="change" value="保存" onclick= "save();return false" style="width: 30.5%;background-color:rgb(255, 204, 85);height: 50px;color: white;font-size: 30px;float: left;border: none;">
                </form>
            </div>
            <div id="right">
                <div class="dropdown">
                    <button class="dropbtn">
                        <span style="margin-left:10px;float:left;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                        <img src="{{url_for('static',filename='green.png')}}" alt="push1" style="height:30px;width:30px;margin-top:2px;float:left;margin-left:50px">
                        <span style="margin-left:20px;float:left;color:white;margin-top:2px">已上传</span>
                    </button>
                    <div class="dropdown-content">
                        {% if articles_len_1 > 0 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time1[0][0])}}">{{article_sorted_by_time1[0][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time1[0][5]}}</a>
                        {% endif %}
                        {% if articles_len_1 > 1 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time1[1][0])}}">{{article_sorted_by_time1[1][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time1[1][5]}}</a>
                        {% endif %}
                        {% if articles_len_1 > 2 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time1[2][0])}}">{{article_sorted_by_time1[2][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time1[2][5]}}</a>
                        {% endif %}
                    </div>
                </div>
                <iframe src="/pushed_articles" style="border:1px inset lightseagreen;width:95%;height:129px" ></iframe>
                <div class="dropdown">
                    <button class="dropbtn1">
                        <span style="margin-left:10px;float:left;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                        <img src="{{url_for('static',filename='red.png')}}" alt="push2" style="height:30px;width:32px;margin-top:2px;float:left;margin-left:50px">
                        <span style="margin-left:20px;float:left;color:white;margin-top:2px">被退回</span>
                    </button>
                    <div class="dropdown-content">
                        {% if articles_len_2 > 0 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time2[0][0])}}">{{article_sorted_by_time2[0][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time2[0][5]}}</a>
                        {% endif %}
                        {% if articles_len_2 > 1 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time2[1][0])}}">{{article_sorted_by_time2[1][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time2[1][5]}}</a>
                        {% endif %}
                        {% if articles_len_2 > 2 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time2[2][0])}}">{{article_sorted_by_time2[2][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time2[2][5]}}</a>
                        {% endif %}
                    </div>
                </div>
                <iframe src="/returned_articles" style="border:1px inset lightseagreen;width:95%;height:129px" ></iframe>
                <div class="dropdown">
                    <button class="dropbtn2">
                        <span style="margin-left:10px;float:left;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                        <img src="{{url_for('static',filename='yellow.png')}}" alt= "push3" style="height:30px;width:32px;margin-top:2px;float:left;margin-left:50px">
                        <span style="margin-left:20px;float:left;color:white;margin-top:2px">草稿箱</span>
                    </button>
                    <div class="dropdown-content">
                        {% if articles_len_3 > 0 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time3[0][0])}}">{{article_sorted_by_time3[0][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time3[0][5]}}</a>
                        {% endif %}
                        {% if articles_len_3 > 1 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time3[1][0])}}">{{article_sorted_by_time3[1][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time3[1][5]}}</a>
                        {% endif %}
                        {% if articles_len_3 > 2 %}
                        <a href="{{url_for('doctor.test', the_id = article_sorted_by_time3[2][0])}}">{{article_sorted_by_time3[2][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time3[2][5]}}</a>
                        {% endif %}
                    </div>
                </div>
                <iframe src="/draft_articles" style="border:1px inset lightseagreen;width:95%;height:129px" ></iframe>
            </div>
            <div id="contactinformation" style="color:white">
                <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
        </div>
    <script>
        function del(){
        if (confirm ("确定删除该条记录?")){
        a.setAttribute("onclick",'');
        return true;
        }
        return false;
        }
        function save(){
        document.check.action="/article_resave/{{the_id}}";
        if (confirm ("确定保存该条记录?")){
        a.setAttribute("onclick",'');
        return true;
        }
        return false;
        }
    </script>
    </body>
</html>
