<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->


<!--
包含doctor.test 部分是由李树昊实现的（曾育堃优化）
-->
<html>
    <head>
        <title>医生主页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='tcmcss.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好 {{user_name}} 医生 </div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a href="#">个人主页</a></li>
                    <li><a href="/create_account1">创建账号</a></li>
                    <li><a href="/create_article">推文上传</a></li>
                </ul>
            </div>
            
            <div id="toip">
                锦华中医诊所
            </div>
            
            <div id="left">
<p style="color:rgb(18, 211, 20);font-family:Noto Sans SC;font-size:50px;margin-top:5px;margin-bottom:5px;font-weight:600">病人信息管理</p>
<br>
<div id="zhuce"><a href="/create_account1"><span style="color:white;">注册病人账号</span></a></div>
<br>
<div id="gengxin"><a href="/search_for_update"><span style="color:white;">更新病人资料</span></a></div>
            </div>
            <div id="middle">
                <div id="sousuokuang">
                    <p style="color:rgb(18, 211, 20);background-color:rgb(226, 239, 225);width:100%;font-family:Noto Sans SC;font-size:45px;margin-top:0px;margin-bottom:3px;border-radius:15px;padding-top:15px;padding-bottom:15px;float:left">病人&文章名称&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>
                    <br><form action="{{url_for('doctor.search')}}" method="post">
                    <input id="search" type="text" value="{{contents}}" name="search">
                    <input id="anniu" type="submit" value="搜索">
                    </form>
                </div>
                
<div class="dropdown">
  <button class="dropbtn">
      <img src="{{url_for('static',filename='green.png')}}" alt="push1" style="height:30px;width:30px;margin-top:3px;float:left;">
      <span style="float:left;margin-left:10px">近期最新注册病人(仅展示最新三次的病人信息)&emsp;&emsp;&emsp;</span>
  </button>
  <div class="dropdown-content">
    {% if patients_len > 0 %}
    <a href="{{url_for('doctor.update_patient_information', patient_id = patients[-1][0])}}">{{patients[-1][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{patients[-1][5]}}</a>
    {% endif %}
    {% if patients_len > 1 %}
    <a href="{{url_for('doctor.update_patient_information', patient_id = patients[-2][0])}}">{{patients[-2][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{patients[-2][5]}}</a>
    {% endif %}
    {% if patients_len > 2 %}
    <a href="{{url_for('doctor.update_patient_information', patient_id = patients[-3][0])}}">{{patients[-3][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{patients[-3][5]}}</a>
    {% endif %}
  </div>
</div>
                <br><br><br><br><br><br><br>
<div class="dropdown">
  <button class="dropbtn">
      <img src="{{url_for('static',filename='green.png')}}" alt="push1" style="height:30px;width:30px;margin-top:3px;float:left;">
      <span style="float:left;margin-left:10px">近期最新上传文章(仅展示最新三次的上传文章)&emsp;&emsp;&emsp;</span>
  </button>
  <div class="dropdown-content">
    {% if articles_len > 0 %}
    <a href="{{url_for('doctor.test', the_id = article_sorted_by_time1[0][0])}}">{{article_sorted_by_time1[0][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time1[0][5]}}</a>
    {% endif %}
    {% if articles_len > 1 %}
    <a href="{{url_for('doctor.test', the_id = article_sorted_by_time1[1][0])}}">{{article_sorted_by_time1[1][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time1[1][5]}}</a>
    {% endif %}
    {% if articles_len > 2 %}
    <a href="{{url_for('doctor.test', the_id = article_sorted_by_time1[2][0])}}">{{article_sorted_by_time1[2][1]}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article_sorted_by_time1[2][5]}}</a>
    {% endif %}
  </div>
</div>
                </div>
            <div id="right">
<p style="color:rgb(18, 211, 20);font-family:Noto Sans SC;font-size:50px;margin-top:5px;margin-bottom:5px;font-weight:600">推文管理</p>
<br>
<div id="shangchuan"><a href="/create_article"><span style="color:white;">上传新推文</span></a></div>
<br>
{% if articles_len > 0 %}
<div id="chakan"><a href="{{url_for('doctor.test', the_id = article_sorted_by_time1[0][0])}}"><span style="color:white;">查看以往推文</span></a></div>
{% endif %}
<br>
{% if articles_len_3 > 0 %}
<div id="caogao"><a href="{{url_for('doctor.test', the_id = article_sorted_by_time3[0][0])}}"><span style="color:white;">草稿箱</span></a></div>
            </div>
{% endif %}
            
           <div id="contactinformation" style="color:white">
               <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
            </div>
    </body>
</html>
