<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> draft </title>
</head>
<body>
<ol style="font-size:30px;font-family: Noto Sans SC;width:98%;">
            {% for article in article_sorted_by_time3 %}
             <li>
                 <div style="width:100%;float:left;font-size:30px;font-family: Noto Sans SC;"> <a href="{{url_for('assistant.test', the_id = article_sorted_by_time3[loop.index0][0])}}" target="_parent">{{ article[1] }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article[5]}}</a> </div>
             <br><br>
             </li>
            {% endfor %}

        </ol>
</body>
</html>