<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style type="text/css">
body {
width:100%;height:100%;}
#container{width:100%;margin:auto;text-align:center;}
#title{color: rgb(239, 125, 32);font-family: Noto Sans SC;width:25%;height:55px;float:left;border: 3px ;margin:0px 0px 5px 0px;font-size:40px;padding-top:20px;font-weight:900}
#navlink{width:50%;height:35px;float:right;margin:25px 0px 20px 0px}
#toip{width:98.5%;height:65px;background-color:rgb(18, 211, 20);font-size:51px;color:white;float:left;margin:0px 0px 0px 2px}
#left{width:62%;height:580px;float:left;border:1px solid #0490f1;margin:3px 1px}
#article_title{width: 95%;height: 65px;float:left; border:1px solid #0490f1;margin:3px 1px}
#article_content{width: 95%;height: 380px;float:left; border:1px solid #0490f1;margin:3px 1px}
#patient_tag{width: 95%;height: 60px;float:left; border:1px solid #0490f1;margin:3px 1px}
#push{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;color: white;background-color: lightgreen}
#delete{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;color: white;background-color: red}
#edit{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;background-color: yellow}
#right{width:37%;height:580px;float:left;border:1px solid #2f4f4f;margin:3px 1px;color: white;}
#transformation{width: 95%;height: 520px;float:left; border:1px solid #0490f1;margin:3px 1px}
#transformation_title{width: 98.5%;height: 40px;float:left; border:1px solid #0490f1;margin:3px 1px}
#contactinformation{width:98.5%;height:35px;float:left;margin:0px 3px 0px 1px;font-size:20px;padding-top:8px;border:2px solid rgb(18, 211, 20)}
div span input{
width:15%;
height: 20px;
background-color:rgb(230, 250, 230);
border: none;
}
div span{
    color: rgb(22, 196, 46);
    font-size: 20px;
}
a{text-decoration:none;
}
a:link{color:black}
ul{
    list-style-type:none;;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
    width:20%;
    height:40px;
    margin-left:50px;
    border-radius:20px
}
li a {
    display:inline-block;
    text-align:center;
    padding-top:5px;
    font-size:20px
}
li:hover{
    background-color:lawngreen
}

li:active{
    background-color:lightgreen;
}


</style>
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好 {{user_name}} 医生</div>
            <div id="navlink">
                <ul>
                    <li><a href="/doctor">个人主页</a></li>
                    <li><a href="/create_account1">创建账号</a></li>
                    <li><a href="/create_article">推文上传</a></li>
                </ul>
            </div>
            <div id="toip">
                锦华中医诊所
            </div>
            <div id="left">
                <form id="article" action="/update_patient_information/{{patient_id}}" method="POST">
                    <div id="article_title" class="kind">
                        &emsp;<span>患者姓名 ：<input type="text" id="topic1" name="name" value="{{name}}" placeholder="请输入主题" ></span>&emsp;&emsp;&emsp;&emsp;&emsp;
                        <span>疾病类别 : <input type="text" id="category" name="category" value="{{category}}" placeholder="请输入类型" ></span>
                        <br>
                        <span style="float:left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 医生姓名 ：{{ user_name }}&emsp;&emsp;&emsp;&emsp;</span>
                        <span style="float:left">日期 : {{ time }}</span>
                    </div>

                    <div id="article_content"><textarea name="content" placeholder="请输入有关病人的相关信息" style="width: 99.5%;height: 99%;resize: none;border: blue">{{content}}</textarea></div>
                    <input type="submit" id="topic" value="保存" style="width: 32.5%;margin-left: 30%;margin-right: 30%;margin-top: 4%; background-color:rgb(25, 207, 89);height: 50px;color: white;font-size: 30px;float: left;border: none;">
                    </form>
            </div>
            <div id="right">

                <div id="sousuokuang">
                    <p style="color:rgb(18, 211, 20);background-color:rgb(226, 239, 225);width:100%;font-family:Noto Sans SC;font-size:45px;margin-top:0px;margin-bottom:3px;border-radius:15px;padding-top:15px;padding-bottom:15px;float:left">病人名称&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>
                    <br><form action="{{url_for('doctor.search_for_update')}}" method="post">
                    <input id="search" type="text" value="{{contents}}" name="search">
                    <input id="anniu" type="submit" value="搜索">
                    </form>
                </div>
            </div>
            <div id="contactinformation" style="color:white">
                <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
        </div>
    </body>
</html>
