{% if add %}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='updown.css') }}">
        <style>
            #content1{
                width: 100%;
                height:585px;
                float:left;
                border:1px solid #0000ff;
                margin:3px 1px;
            }
            select{
                background-color: rgb(230, 250, 230);
                height: 40px;
                border-color:grey;
                font-size: 30px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好{{user_name}}用户
            </div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a>添加反馈</a></li>
                </ul>
            </div>

            <div id="toip">
                锦华中医诊所
            </div>
            <div id="content1">
                <form action="{{ url_for('feedback.add_feedback') }}" method="POST">
                    <label>反馈内容</label>
                    <input type="text" name="title" style="width:100%;" placeholder="请输入反馈标题"/>
                    <textarea name="content" placeholder="请输入反馈内容" style="width: 99.5%;height: 330px;resize: none;border:solid,blue;"></textarea>
                    <span style="float: left; width: 32.5%;"></span>
                    <input type="text" style="width: 32.5%;background-color:none;height: 50px;color: white;text-align: center;font-size: 30px;float: left;border: none;">
                    <input type="submit" value="提交" style="width: 32.5%;background-color:rgb(25, 207, 89);height: 50px;color: white;text-align: center;font-size: 30px;float: left;border: none;">
                </form>
            </div>
            <div id="contactinformation" style="color:white">
                <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
        </div>
    </body>
</html>
{% elif id %}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='updown.css') }}">
        <style>
            #content1{
                width: 100%;
                height:585px;
                float:left;
                border:1px solid #0000ff;
                margin:3px 1px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好{{user_name}}助理
            </div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a href="{{ url_for('feedback.feedback') }}">返回反馈列表</a></li>

                </ul>
            </div>

            <div id="toip">
                锦华中医诊所
            </div>
            <div id="content1">
                <div style="float:left;width: 100%;height:530px;">
                    <h1>反馈 {{ id }}</h1>
                    <h1>{{ feedback[1] }}</h1>
                    <p>{{ feedback[2] }}</p>
                </div>
                <div id="contactinformation" style="color:white">
                    <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
                </div>
            </div>
    </body>
</html>

{% else %}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='updown.css') }}">
        <style>
            #content1{
                width: 100%;
                height:585px;
                float:left;
                border:1px solid #0000ff;
                margin:3px 1px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好{{user_name}}助理
            </div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a>阅读反馈</a></li>
                    </ul>
                    </div>
                    
                    <div id="toip">
                        锦华中医诊所
                    </div>
                    
                        <div id="content1" style="clear:both;">
                        
                        {% for i in feedbacks %}
                        <div style="float:left;width: 100%; height: 530px;">
                                <h2>反馈{{ i[0] }} {{ i[1] }}： <a href="read/{{ i[0] }}">前往阅读</a></h2>
                        </div>
                        {% endfor %}
                        
                        </div>
                            <div id="contactinformation" style="color:white;bottom: 0px;">
                                <span style="color:rgb(18, 211, 20);float: left;">Traditional Chinese
                                    medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span
                                    style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
                            </div>

                    
    </body>
</html>

{% endif %}
