<html>
    <head>
        <meta charset="utf-8">
        <title>主页</title>
    </head>
    <body>
        <h1>主页面</h1>
        <p>你好</p>
        <a href="{{ url_for('doctor.index') }}">医生主页面</a>
    </body>
</html>
