<!DOCTYPE html>
<html>
    <head>
        <title>登录页面</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                /* web 1920 */
                position: relative;
                background: rgb(255, 255, 255);
                width: 100%;
            }
            .container {
                position: relative;
                width: 100%;
                height: 20%;
                top: 160px;
                left: 0;
            }
            .litt{
                /* XX医馆个性化养生方案推送系统 */
                float: left;
                width: 87%;
                height: 61px;
                top: 0;
                left: 0;
                color: rgb(105, 229, 13);
                font-size: 36px;
                font-weight: 400;
                line-height: 53px;
                letter-spacing: 0px;
                text-align: left;
            }
            .litt1{
                /* 您好， 请先登录 */
                float: left;
                width: 13%;
                height: 61px;
                top: 0;
                left: 81.7%;
                color: rgb(0, 0, 0);
                font-size: 36px;
                font-weight: 400;
                line-height: 53px;
                letter-spacing: 0px;
                text-align: left;
            }

            .container2{
                position: absolute;
                width: 100%;
                height: 61px;
                top: 747px;
                left: 0;
                background: rgba(196, 196, 196, 0.13);
            }

            .container6{
                position: absolute;
                width: 100%;
                height: 110px;
                top: 625px;
                left: 0;
                background: rgb(30, 229, 57);
            } 

            input{
                position: absolute;
                width: 23.4%;
                height: 60px;
                top: 820px;
                left: 39%;
                box-sizing: border-box;
                background: rgba(196, 196, 196, 0.41);
                border: 1px solid rgb(0, 0, 0);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            a{
                color: rgb(36, 226, 38);
                font-family: Noto Sans SC;
                font-size: 36px;
                font-weight: 400;
                line-height: 53px;
                letter-spacing: 0px;
                text-align: left;
            }
        </style>
    </head>
    <body class="body">
        <script type="text/javascript">
            window.onload = function () {
                document.getElementById("regbtn").onclick = function () {
                    if (用户名和密码正确) {
                        //提交
                        var formObj = document.getElementById("userform");
                        //通过调用submit()来完成表单的提交
                        formObj.submit();
                    }

                }
            }

        </script>
        <div class="litt">
            <h6 style="color: #1EE539">锦华中医馆个性化养生方案推送系统</h6>
        </div>
        <div class="litt1">
            <h6>您好，请先登录</h6>
        </div>
        <div class="container">
            <img src="{{ url_for('static', filename='main.png') }}" style="width: 100%;
                height: auto;">
        </div>
        <div class = "container6"></div>
        <div>
            <form action="{{url_for('index.login')}}" method="POST">
                <input type="text"  name="username" id="username" placeholder="{{value1}}" />
                <br>
                <input type="text" name="password" id="password" placeholder="{{value2}}" style="top: 899px; left: 39%;"/><span id="passwordwrong"></span>
                <br>
                <input type="submit" value="登录" id="regbtn" style="position: absolute;width: 23.4%;height: 60px;top: 980px;left: 39%;background: rgb(20, 197, 22);">
            </form>
        </div>



    </body>
</html>

