<!DOCTYPE html>
<!--
列表内容为李佩伦所写
李政通工作成果：网页主体框架制作，利用css对网页进行美化
-->    
<html>
    <head>
        <title>用户主页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='updown.css') }}">
        <style>
            body{
                background: rgb(255, 255, 255);
            }
            .container1 {
                position: relative;
                width: 100%;
                height: 20%;
                top:50px;
                left: 0;
            }
            .container2{
                position: absolute;
                width:100%;
                height: 300px;
                top: 747px;
                left: 0;
                background: rgba(196, 196, 196, 0.13);
            }

        </style>
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好,{{user_name}}
            </div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a href="index.html">个人主页</a></li>
                    <li><a href="{{ url_for('feedback.add_feedback') }}">发送反馈</a></li>
                </ul>
            </div>
                        <div id="toip">
                锦华中医诊所
            </div>

            <div class="container1">
                <img src="{{ url_for('static', filename='main.png') }}" style="width: 100%;
                     height: 500px;">
            </div>
            <div class="container2">
                <ol style="font-size:25px;font-family: Noto Sans SC;width:100%">
                    {% for article in articles %}
                    {% if article[4] in ill %}
                     <div style="width:30%;float:left;font-size:25px;font-family: Noto Sans SC;"> 针对{{ article[4] }}的养生方式 </div>
                     <div style="width:65%;float:left;"> <a href="#" style="font-size:25px;font-family: Noto Sans SC;color: black;">{{ article[1] }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{article[5]}}</a> </div>
                    {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </body>
</html>

