<!DOCTYPE html>
<html>
    <head>
        <title>病人页面：查看文章 {{ article[1] }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='updown.css') }}">
        <style>
            #art{
                float: left;
                width: 100%;
                height: 700px;
            }
            #art1{
                float: left;
                width: 98%;
                height: 90px;
                margin-bottom: 2px;
                margin-top: 2px;
                border: solid #000000;
                font-size: 20px;
            }
            #art2{
                float: left;
                width: 98%;
                height: 550px;
                border: solid #000000;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好
            </div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a href="index.html">查看文章</li>
                </ul>
            </div>

            <div id="toip">
                锦华中医诊所
            </div>

            <div id="art">
                <div id="art1"><h1>{{ article[1] }}</h1></div>
                <div id="art2"><p>{{ article[3] }}</p></div>
            </div>

            <div id="contactinformation" style="color:white">
                <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
        </div>
    </body>
</html>

