<!DOCTYPE html>
<!--
该网页由李树昊实现
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> pushed </title>
</head>
<body>
<h2> 搜索结果如下（若未获得结果，请检查所输入内容） </h2>
{% if query|length != 0 %}
        <ol style="font-size:30px;font-family: Noto Sans SC;">
            {% for item in query %}
             <li>
                 <div style="width:100%;float:left;font-size:30px;font-family: Noto Sans SC;"> <a href="{{url_for('doctor.update_patient_information', patient_id=item[0])}}" target="_parent">{{ item[1] }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{item[5]}}</a> </div>
             <br><br>
             </li>
            {% endfor %}
        </ol>
{% else %}
        <h1> 未获得搜索结果 </h1>
{% endif %}
</body>
</html>