<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>查看文章</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='updown.css') }}">
        <style>
            #middle{
                width:100%;
                height:585px;
                float:left;
                border:1px solid #0000ff;
                margin:3px 1px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好 {{user_name}} 用户
            </div>
            <div id="navlink">
                <ul>
                    <li style="background-color:rgb(18, 211, 20);"><a href="index.html">查看文章</a></li>
                    <li><a href="">个人主页</a></li>
                </ul>
            </div>
            <div id="toip">
                锦华中医诊所
            </div>
            <div id="middle">
                <div style="border:solid black 1px;"><h3 style="font-family:serif;color:goldenrod;">文章标题</h1></div>
                <div style="border:solid black 1px; margin-bottom:1px;margin-top:1px;width: 100%;height: ">
                    <div style="float:left;width: 33.3%;font-family:serif;color:goldenrod;">
                        <h4>作者</h4></div>
                    <div style="float:left;width: 33.3%;font-family:serif;color:goldenrod;">
                        <h4>上传日期</h4></div>
                    <div style="float:left;width: 33.3%;font-family:serif;color:goldenrod;">
                        <h4>文章类型</h4></div>
                    <div style="margin-bottom:1px;margin-top:1px;border:solid black 1px;float: left;width: 100%;height: 450px;">
                        <p>文章内容</p></div></div>
            </div>
            <div id="contactinformation" style="color:white">
                <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
        </div>
    </body>
</html>
