<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!--
该网页与后端相关部分由李树昊实现
-->
<html>
    <head>
        <title>搜索后更新病人信息</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='update_patient_information.css') }}">
    </head>
    <body>
        <div id="container">
            <div id="title"> 您好 {{user_name}} 医生</div>
            <div id="navlink">
                <ul>
                    <li><a href="/doctor">个人主页</a></li>
                    <li><a href="/create_account1">创建账号</a></li>
                    <li><a href="/create_article">推文上传</a></li>
                </ul>
            </div>
            <div id="toip">
                锦华中医诊所
            </div>
            <div id="left">
                <form id="article" action="/search_result_for_update/{{contents}}" method="POST">
                    <div id="article_title" class="kind">
                        &emsp;<span>患者姓名 ：<input type="text" id="topic1" name="name" value="{{name}}" placeholder="请输入主题" ></span>&emsp;&emsp;&emsp;&emsp;&emsp;
                        <span>疾病类别 : <input type="text" id="category" name="category" value="{{category}}" placeholder="请输入类型" ></span>
                        <br>
                        <span style="float:left">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 医生姓名 ：{{ user_name }}&emsp;&emsp;&emsp;&emsp;</span>
                        <span style="float:left">日期 : {{ time }}</span>
                    </div>

                    <div id="article_content"><textarea name="content" placeholder="请输入有关病人的相关信息" style="width: 99.5%;height: 99%;resize: none;border: blue">''</textarea></div>
                    <input type="submit" id="topic" value="保存" style="width: 32.5%;margin-left: 30%;margin-right: 30%;margin-top: 4%; background-color:rgb(25, 207, 89);height: 50px;color: white;font-size: 30px;float: left;border: none;">
                    </form>
            </div>
            <div id="right">

                <div id="sousuokuang">
                    <p style="color:rgb(18, 211, 20);background-color:rgb(226, 239, 225);width:100%;font-family:Noto Sans SC;font-size:45px;margin-top:0px;margin-bottom:3px;border-radius:15px;padding-top:15px;padding-bottom:15px;float:left">病人名称&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>
                    <br><form action="{{url_for('doctor.search_for_update')}}" method="post">
                    <input id="search" type="text" value="{{contents}}" name="search">
                    <input id="anniu" type="submit" value="搜索">
                    </form>
                </div>
                <iframe src="/result_content_for_update/{{contents}}" style="border:1px inset lightseagreen;width:95%;height:375px" ></iframe>
            </div>
            <div id="contactinformation" style="color:white">
                <span style="color:rgb(18, 211, 20)">Traditional Chinese medicine</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color:rgb(148, 155, 149)"> 联系邮箱：plli2021@lzu.edu.cn 联系电话；13831122775</span>
            </div>
        </div>
    </body>
</html>
