/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2022年5月25日, 上午9:21:31
    Author     : 14160
*/
body {
width:100%;height:100%;}
#container{width:100%;margin:auto;text-align:center;}
#title{color: rgb(239, 125, 32);font-family: Noto Sans SC;width:25%;height:55px;float:left;border: 3px ;margin:0px 0px 5px 0px;font-size:40px;padding-top:20px;font-weight:900}
#navlink{width:50%;height:35px;float:right;margin:25px 0px 20px 0px}
#toip{width:98.5%;height:65px;background-color:rgb(18, 211, 20);font-size:51px;color:white;float:left;margin:0px 0px 0px 2px}
#left{width:62%;height:580px;float:left;border:1px solid #0490f1;margin:3px 1px}
#article_title{width: 95%;height: 60px;float:left; border:1px solid #0490f1;margin:1px 1px}
#article_content{width: 95%;height: 380px;float:left; border:1px solid #0490f1;margin:1px 1px}
#patient_tag{width: 95%;height: 45px;float:left; border:1px solid #0490f1;margin:3px 1px}
#push{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;color: white;background-color: lightgreen}
#delete{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;color: white;background-color: red}
#edit{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;background-color: yellow}
#right{width:37%;height:580px;float:left;border:1px solid #2f4f4f;margin:3px 1px;color: white;}
#transformation{width: 95%;height: 520px;float:left; border:1px solid #0490f1;margin:3px 1px}
#transformation_title{width: 98.5%;height: 40px;float:left; border:1px solid #0490f1;margin:3px 1px}
#contactinformation{width:98.5%;height:35px;float:left;margin:0px 3px 0px 1px;font-size:20px;padding-top:8px;border:2px solid rgb(18, 211, 20)}
div span input{
width:15%;
height: 20px;
background-color:rgb(230, 250, 230);
border: none;
}
div span{
    color: rgb(22, 196, 46);
    font-size: 20px;
}
a{text-decoration:none;
}
a:link{color:black}
ul{
    list-style-type:none;;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
    width:20%;
    height:40px;
    margin-left:50px; 
    border-radius:20px
}
li a {
    display:inline-block;
    text-align:center;
    padding-top:5px;
    font-size:20px
}
li:hover{
    background-color:lawngreen
}

li:active{
    background-color:lightgreen;
}

.dropbtn {
    width:100%;
    background-color:rgb(18, 211, 20);
    color: white;
    padding: 12px;
    font-family: Noto Sans SC;
    font-size:25px;
    font-weight:500;
    border: none;
    cursor: pointer;
    
}
.dropbtn1 {
    width:100%;
    background-color:rgb(237, 83, 83);
    color: white;
    padding: 12px;
    font-family: Noto Sans SC;
    font-size:25px;
    font-weight:500;
    border: none;
    cursor: pointer;
    
}
.dropbtn2 {
    width:100%;
    background-color:rgb(255, 204, 85);
    color: white;
    padding: 12px;
    font-family: Noto Sans SC;
    font-size:25px;
    font-weight:500;
    border: none;
    cursor: pointer;
    
}
.dropdown {
    margin-top:2px;
    width:96%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;}
