/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2022-5-24, 15:33:28
    Author     : 86138
*/
body {
width:100%;height:100%;}
#container{width:100%;margin:auto;text-align:center;}

#title{color: rgb(239, 125, 32);font-family: Noto Sans SC;width:25%;height:55px;float:left;border: 3px ;margin:0px 0px 5px 0px;font-size:40px;padding-top:20px;font-weight:900}

#navlink{width:50%;height:35px;float:right;margin:25px 0px 20px 0px}

#toip{width:98.5%;height:65px;background-color:rgb(18, 211, 20);font-size:51px;color:white;float:left;margin:0px 0px 0px 2px}

#left{width:25%;height:585px;float:left;border:1px solid #0490f1;margin:3px 1px}

#middle{width:48%;height:585px;float:left;border:1px solid #0000ff;margin:3px 1px;}

#right{width:25%;height:585px;float:left;border:1px solid #2f4f4f;margin:3px 1px}

#contactinformation{width:98.5%;height:32px;float:left;margin:0px 3px 0px 1px;font-size:20px;padding-top:8px;border:2px solid rgb(18, 211, 20)}

#zhuce{width:90%;height:140px;background:rgb(18, 211, 20);border-radius:25px;margin-left:20px;margin-bottom:20px;font-size:45px;font-family: Noto Sans SC;font-weight:600;padding-top:70px}

#gengxin{width:90%;height:140px;background:rgb(18, 211, 20);border-radius:25px;margin-left:20px;font-size:45px;font-family: Noto Sans SC;font-weight:600;padding-top:70px}

#shangchuan{width:90%;height:100px;background:rgb(18, 211, 20);border-radius:25px;margin-left:20px;margin-bottom:10px;font-size:45px;font-family: Noto Sans SC;font-weight:600;padding-top:34px}

#chakan{width:90%;height:100px;background:rgb(18, 211, 20);border-radius:25px;margin-left:20px;margin-bottom:10px;font-size:45px;font-family: Noto Sans SC;font-weight:600;padding-top:34px}

#caogao{width:90%;height:100px;background:rgb(18, 211, 20);border-radius:25px;margin-left:20px;font-size:45px;font-family: Noto Sans SC;font-weight:600;padding-top:34px}

#sousuokuang{width:95%;height:190px;border:5px solid rgb(18, 211, 20);border-radius:25px;margin-left:13px;margin-top:5px}

#search{width:75%;height:90px;float:left;border-radius:25px;font-size:30px}

#anniu{width:23%;height:90px;float:left;background:rgb(18, 211, 20);margin-top:3px;margin-left:3px;border:0px solid;border-radius:15px;font-size:35px;font-weight:500}

#xiala1{width:100%;background:rgb(18, 211, 20)}

a{text-decoration:none;
}
a:link{color:black}
ul{
    list-style-type:none;;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
    width:20%;
    height:40px;
    margin-left:50px; 
    border-radius:20px
}
li a {
    display:inline-block;
    text-align:center;
    padding-top:5px;
    font-size:20px
}
li:hover{
    background-color:lawngreen
}

li:active{
    background-color:lightgreen;
}
#zhuce:hover{
    background-color:lawngreen
}
#zhuce:active{
    background-color:lightgreen;
}
#gengxin:hover{
    background-color:lawngreen
}
#gengxin:active{
    background-color:lightgreen;
}
#shangchuan:hover{
    background-color:lawngreen
}
#shangchuan:active{
    background-color:lightgreen;
}
#chakan:hover{
    background-color:lawngreen
}
#chakan:active{
    background-color:lightgreen;
}
#caogao:hover{
    background-color:lawngreen
}
#caogao:active{
    background-color:lightgreen;
}
.dropbtn {
    width:100%;
    background-color:rgb(18, 211, 20);
    color: white;
    padding: 12px;
    font-family: Noto Sans SC;
    font-size:25px;
    font-weight:500;
    border: none;
    cursor: pointer;
    
}

.dropdown {
    margin-top:5px;
    width:96%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}