/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2022年5月25日, 上午9:21:31
    Author     : 14160
*/
body {
width:100%;height:100%;}
#container{width:100%;margin:auto;text-align:center;}
#title{color: rgb(239, 125, 32);font-family: Noto Sans SC;width:25%;height:55px;float:left;border: 3px ;margin:0px 0px 5px 0px;font-size:40px;padding-top:20px;font-weight:900}
#navlink{width:50%;height:35px;float:right;margin:25px 0px 20px 0px}
#toip{width:98.5%;height:65px;background-color:rgb(18, 211, 20);font-size:51px;color:white;float:left;margin:0px 0px 0px 2px}
#left{width:62%;height:580px;float:left;border:1px solid #0490f1;margin:3px 1px}
#article_title{width: 95%;height: 65px;float:left; border:1px solid #0490f1;margin:3px 1px}
#article_content{width: 95%;height: 380px;float:left; border:1px solid #0490f1;margin:3px 1px}
#patient_tag{width: 95%;height: 60px;float:left; border:1px solid #0490f1;margin:3px 1px}
#push{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;color: white;background-color: lightgreen}
#delete{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;color: white;background-color: red}
#edit{width: 30%;height: 55px;float:left; border:1px solid #0490f1;margin:3px 1px;background-color: yellow}
#right{width:37%;height:580px;float:left;border:1px solid #2f4f4f;margin:3px 1px;color: white;}
#transformation{width: 95%;height: 520px;float:left; border:1px solid #0490f1;margin:3px 1px}
#transformation_title{width: 98.5%;height: 40px;float:left; border:1px solid #0490f1;margin:3px 1px}
#contactinformation{width:98.5%;height:35px;float:left;margin:0px 3px 0px 1px;font-size:20px;padding-top:8px;border:2px solid rgb(18, 211, 20)}
div span input{
width:15%;
height: 20px;
background-color:rgb(230, 250, 230);
border: none;
}
div span{
    color: rgb(22, 196, 46);
    font-size: 20px;
}
a{text-decoration:none;
}
a:link{color:black}
ul{
    list-style-type:none;;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
    width:20%;
    height:40px;
    margin-left:50px; 
    border-radius:20px
}
li a {
    display:inline-block;
    text-align:center;
    padding-top:5px;
    font-size:20px
}
li:hover{
    background-color:lawngreen
}

li:active{
    background-color:lightgreen;
}


